<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">
    Produtos
    <ng-container *ngIf="loading">
      <app-spinner></app-spinner>
    </ng-container>
  </h1>
</div>

<div class="row" *ngIf="errorMessage">
  <div class="col-sm-12">
    <p class="alert alert-danger">{{ errorMessage }}</p>
  </div>
</div>

<div *ngIf="produtosList">
  <div class="row mb-2">
    <div class="col-12"><strong>Total:</strong> {{ totalCount }}</div>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-striped table-bordered table-valign-middle">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Produto</th>
          <th>Qtd.</th>
          <th>Categoria</th>
          <th class="text-center">Cadastrado em</th>
          <th class="text-center">Atualizado em</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produtos of produtosList.rows">
          <td class="text-center">
            {{ produtos.id }}
          </td>

          <td>
            {{ produtos.nome }}
          </td>

          <td>
            {{ produtos.quantidade }}
          </td>

          <td>
            {{ produtos.categoria}}
          </td>

          <td class="text-center">
            {{ produtos.create_at }}
          </td>

          <td class="text-center">
            {{ produtos.update_at }}
          </td>

          <td class="text-center">
            <div *ngIf="produtos">
              <button class="btn btn-secondary btn-sm" type="button" (click)="viewProdutos(produtos)">
                <i class="fa fa-edit"></i>
              </button>
              &nbsp;
              <button class="btn btn-danger btn-sm" type="button" (click)="confirmDeleteProdutos(produtos)">
                <i class="fa fa-remove"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-12 col-sm-8">
      <pagination [totalItems]="totalCount" [(ngModel)]="currentPage" [boundaryLinks]="true" [directionLinks]="true"
        [maxSize]="5" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"></pagination>
    </div>
    <div class="col-12 col-sm-4 text-right">
      <a class="btn btn-primary ml-1" [routerLink]="['/produtos', 'create']" routerLinkActive="active"><i
          class="fa fa-plus-square"></i> Criar Produtos</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6"></div>
    <div class="col-12 col-sm-6 text-right">
      <form class="form-inline float-right" (ngSubmit)="onSearchFormSubmit()" novalidate>
        <input type="text" class="form-control" id="search-q" placeholder="" [(ngModel)]="searchParams['q']" name="q" />
        <button class="btn btn-info ml-1" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
          Pesquisar</button>
      </form>
    </div>
  </div>
</div>